html,
body,
.container,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.root {
  text-align: center;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
ul {
  padding: 0;
  margin: 0;
}

.container {
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
